/*HOJA DE ESTILOS CSS PARA LA PAGINA PRINCIPAL*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav a img {
    margin: 0px;
    width: 150px;
}

nav {
    background: rgb(115, 115, 230);
    height: 110px;
    width: 100%;
}

.imagenes2 {
    background-image: url(../img/Magazzino-vuoto.jpg);
}

.imagenes {
    flex-wrap: wrap;
    float: left;
    clear: both;
    object-fit: contain;
    display: flex;
    flex-direction: row;
}

.texto1 {
    border-radius: 10%;
    padding-left: 120px;
    color: black;
}

.cupra {
    width: 300px;
    height: 200px;
    background-color: rgba(20, 213, 223, 0.812);
    border-radius: 10%;
    border: 3px solid;
}

.cayman {
    width: 300px;
    height: 200px;
    background-color: rgba(20, 213, 223, 0.812);
    border-radius: 10%;
    border: 3px solid black;
}

.cayman2 {
    width: 300px;
    height: 200px;
    background-color: rgba(20, 213, 223, 0.812);
    border-radius: 10%;
    border: 3px solid black;
}

.zl1 {
    width: 300px;
    height: 200px;
    background-color: rgba(20, 213, 223, 0.812);
    border-radius: 10%;
    border: 3px solid black;
}

.evo {
    width: 300px;
    height: 200px;
    background-color: rgba(20, 213, 223, 0.812);
    border-radius: 10%;
    border: 3px solid black;
}


.enlace {
    position: absolute;
    padding: 10px 40px;
}

.logo {
    height: 90px;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover {
    background: blue;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 110px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    background-color: aqua;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 110px);
    width: 100%;
}

@media (max-width: 952px){
    .enlace {
        padding-left: 10px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .imagenes {
        flex-wrap: wrap;
    }
    .texto1 {
        width: 180px;
        height: 160px;
    }
    .cupra {
        width: 180px;
        height: 160px;
    }
    .cayman {
        width: 180px;
        height: 160px;
    }
    .cayman2 {
        width: 180px;
        height: 160px;
    }
    .zl1 {
        width: 180px;
        height: 160px;
    }
    .evo {
        width: 180px;
        height: 160px;
    }
    .texto1 {
        border-radius: 10%;
        padding-left: 60px;
        color: black;
        padding-right: 80px;
    }
}

@media (max-width: 858px){
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(118, 118, 196);
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 14px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .texto1 {
        width: 120px;
        height: 120px;
    }
    .cupra {
        width: 120px;
        height: 120px;
    }
    .cayman {
        width: 120px;
        height: 120px;
    }
    .cayman2 {
        width: 120px;
        height: 120px;
    }
    .zl1 {
        width: 120px;
        height: 120px;
    }
    .evo {
        width: 120px;
        height: 120px;
    }
    .texto1 {
        border-radius: 10%;
        padding-left: 30px;
        color: black;
        padding-right: 50px;
    }
}

@media (max-width: 400px){
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(118, 118, 196);
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 8px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 10px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }

@media (max-width: 400px){
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(118, 118, 196);
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
       display: block;
        margin: 8px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 8px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .texto1 {
        width: 120px;
        height: 120px;
    }
    .cupra {
        width: 60px;
        height: 50px;
    }
    .cayman {
        width: 60px;
        height: 50px;
    }
    .cayman2 {
        width: 60px;
        height: 50px;
    }
    .zl1 {
        width: 60px;
        height: 50px;
    }
    .evo {
        width: 60px;
        height: 50px;
    }
    .texto1 {
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding-left: px;
    }
}

@media (max-width: 236px){
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(118, 118, 196);
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
       display: block;
        margin: 6px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 6px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }

@media (max-width: 140px){
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgb(118, 118, 196);
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .texto1 {
        width: 120px;
        height: 120px;
    }
    .cupra {
        width: 60px;
        height: 50px;
    }
    .cayman {
        width: 60px;
        height: 50px;
    }
    .cayman2 {
        width: 60px;
        height: 50px;
    }
    .zl1 {
        width: 60px;
        height: 50px;
    }
    .evo {
        width: 60px;
        height: 50px;
    }
    .texto1 {
        border-radius: 10%;
        color: black;
        font-size: 12px;
        padding-left: px;
    }
}